<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">
<suite name="Selenium Automation Suite" parallel="methods" thread-count="2" verbose="1">
    <listeners>
        <listener class-name="com.automation.listeners.TestListener"/>
    </listeners>

    <test name="UI Regression Tests">
        <classes>
            <class name="com.automation.tests.LoginTest"/>
            <class name="com.automation.tests.DashboardTest"/>
            <class name="com.automation.tests.ExcelReaderTest"/>
            <class name="com.automation.tests.ExcelExecutionConfigTest"/>
            <class name="com.automation.tests.ScenarioReaderTest"/>
            <class name="com.automation.tests.ScenarioReaderValidationTest"/>
            <class name="com.automation.tests.StepReaderTest"/>
            <class name="com.automation.tests.StepReaderValidationTest"/>
            <class name="com.automation.tests.StepReaderConditionalBlockTest"/>
            <class name="com.automation.tests.StepReaderLoopBlockTest"/>
            <class name="com.automation.tests.DataReaderTest"/>
            <class name="com.automation.tests.DataReaderValidationTest"/>
            <class name="com.automation.tests.ObjectRepositoryReaderTest"/>
            <class name="com.automation.tests.ObjectRepositoryValidationTest"/>
            <class name="com.automation.tests.BaseFunctionTest"/>
            <class name="com.automation.tests.BaseFunctionContextTest"/>
            <class name="com.automation.tests.KeywordResolverTest"/>
            <class name="com.automation.tests.KeywordResolverNoArgTest"/>
            <class name="com.automation.tests.SpecificFunctionContextTest"/>
            <class name="com.automation.tests.SpecificFunctionScreenshotCompositionTest"/>
            <class name="com.automation.tests.KeywordResolverValidationTest"/>
            <class name="com.automation.tests.KeywordEngineTest"/>
            <class name="com.automation.tests.KeywordEngineResolvedContextTest"/>
            <class name="com.automation.tests.KeywordEngineReportMappingTest"/>
            <class name="com.automation.tests.KeywordEngineValidationTest"/>
            <class name="com.automation.tests.ExcelKeywordExecutionTest"/>
            <class name="com.automation.tests.ScenarioRunnerValidationTest"/>
            <class name="com.automation.tests.ScenarioRunnerResolvedPlanExecutionTest"/>
            <class name="com.automation.tests.ScenarioRunnerConditionalExecutionTest"/>
            <class name="com.automation.tests.ScenarioRunnerForEachDataRowExecutionTest"/>
            <class name="com.automation.tests.ScreenshotResolvedPlanRegressionTest"/>
            <class name="com.automation.tests.ScreenshotEvidenceTest"/>
            <class name="com.automation.tests.StepContextLeakRegressionTest"/>
            <class name="com.automation.tests.SensitiveDataMaskerTest"/>
            <class name="com.automation.tests.ExcelExecutionReportTest"/>
            <class name="com.automation.tests.FinalTemplateValidationTest"/>
            <class name="com.automation.tests.ModelToStringSafetyTest"/>
            <class name="com.automation.tests.ExecutionResultBuilderTest"/>
            <class name="com.automation.tests.TestStepBuilderTest"/>
            <class name="com.automation.tests.ResolvedStepContextTest"/>
            <class name="com.automation.tests.ResolvedStepContextBuilderTest"/>
            <class name="com.automation.tests.StepContextHolderTest"/>
            <class name="com.automation.tests.EvidenceContextHolderTest"/>
            <class name="com.automation.tests.ExecutionPlanBuilderTest"/>
            <class name="com.automation.tests.PreRunValidatorTest"/>
        </classes>
    </test>
</suite>
